<div class="card-container">
    <h2 class="card-title">{{name}}</h2>
    <p class="card-text">Capital:<span>{{capital}}</span></p>
    <p class="card-text">Population:<span>{{population}}</span></p>
    <p class="card-text">Languages:</span></p>
    <ul class="list-group">
        {{#each languages}}
        <li class="list-group-item">{{language.name}}</li>
        {{/each}}
    </ul>

</div>